
<div class="d-flex justify-content-center">
<h5>Dakota loves your choice.</h5>
<button class="btn mb-3 btn-sm btn-light" style="margin-left: 10px;" onclick="goBack()">Go Back</button>
</div>
<hr width="20%">
<div class="row d-flex justify-content-center rounded">
<div class="col-md-10 rounded p-3">
    <form method="POST" action='/restaurants/search/show'>
        <!--INPUTS-->
        <input type="hidden" name="res[res_id]" value=<%=@restaurant["R"]["res_id"]%>>
        <input type="hidden" name="res[name]" value="<%=@restaurant["name"]%>">
        <input type="hidden" name="res[city_name]" value=<%=@restaurant["location"]["city"]%>>
        <input type="hidden" name="res[address]" value=<%=@restaurant["location"]["address"]%>>
        <input type="hidden" name="res[url]" value=<%=@restaurant["url"]%>>
        <input type="hidden" name="res[aggregate_rating]" value=<%=@restaurant["user_rating"]["aggregate_rating"]%>>
        <input type="hidden" name="res[votes]" value=<%=@restaurant["user_rating"]["votes"]%>>
        <input type="hidden" name="res[photos_url]" value=<%=@restaurant["photos_url"]%>>
        <input type="hidden" name="res[locality]" value=<%=@restaurant["location"]["locality"]%>>
        <input type="hidden" name="res[latitude]" value=<%=@restaurant["location"]["latitude"]%>>
        <input type="hidden" name="res[longitude]" value=<%=@restaurant["location"]["longitude"]%>>
        <input type="hidden" name="res[rating_color]" value=<%=@restaurant["user_rating"]["rating_color"]%>>
        <input type="hidden" name="res[phone_numbers]" value=<%=@restaurant["phone_numbers"]%>>
        <button class="btn mb-3 <%=@button[0]%>" type="submit"><%=@button[1]%></button>
    </form>

    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item text-left">For the foodie nerds:<i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-left"><span class="pull-left"><strong>Bueno?:</strong><strong style="color: #<%=@restaurant["user_rating"]["rating_color"]%>"> <%=@restaurant["user_rating"]["rating_text"]%></strong></span></li>
                <li class="list-group-item text-left"><span class="pull-left"><strong>Rating: <%=@restaurant["user_rating"]["aggregate_rating"]%>/5</strong></span></li>
                <li class="list-group-item text-left"><span class="pull-left"><strong>Votes: <%=@restaurant["user_rating"]["votes"]%></strong></span></li>
                <li class="list-group-item text-left"><span class="pull-left"><strong>Neighborhood: <%=@restaurant["location"]["locality"]%></strong></span></li>
                <li class="list-group-item text-left"><span class="pull-left"><strong>Longitude: <%=@restaurant["location"]["longitude"]%></strong></span></li>
                <li class="list-group-item text-left"><span class="pull-left"><strong>Latitude: <%=@restaurant["location"]["latitude"]%></strong></span></li>
            </ul> 
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <h2><span class="badge badge-primary"><%= @restaurant["location"]["city"] %></span></h2>
                    <a style="text-decoration: none;" href="<%= @restaurant["url"]%>"><h6><span class="badge badge-secondary">Go to Zomato</span></h6></a>
                </div>
                <div class="col-md-8"">
                    <h2 style="padding-left: 10px;"><%= @restaurant["name"] %></h2> 
                    <h5 style="padding-left: 10px;"><%= @restaurant["location"]["address"] %></h5>
                </div>
            </div>
            <hr>
            <form method="POST" action="/restaurants/search/review">
                <input type="hidden" name="res[res_id]" value=<%=@restaurant["R"]["res_id"]%>>
                <div class="form-group">
                    <textarea required="true" class="form-control" id="comment" rows="5" name="review" placeholder="Write your review here!"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Review</button>
            </form>
            <h3 class="mt-3" style="margin-top: 2em;">Most recent DishBuddy reviews:</h3>
            <% if @error %>
                <h6 class="text-danger mt-3 mb-3">You cannot write a review for a restaurant that you haven't saved to your DishList!</h6>
            <% end %>
            <div class="row">
                <% @reviews.each do |i| %>
                    <div class="col-md-3">
                        <h5><%= User.find(i.user_id).username %> says:<h5>
                    </div>
                    <div class="col-md-9">
                        <p><%= i.review %> </p>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
</div>  