
<div class="container bootstrap snippet">
<div class="row">
    <div class="col-sm-3"><!--left col-->
            

    <div class="text-center">
    <img src="/images/avatar.png" class="avatar img-circle img-thumbnail" alt="avatar">
    <h6 class="text-dark">Profile picture feature currently not available.</h6>
    </div></hr><br>
        
    <ul class="list-group">
        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Restaurants</strong></span> <%=@friend.restaurants.count%></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Reviews</strong></span> 0</li>
    </ul> 

    <ul class="list-group">
        <li class="list-group-item text-muted"><a href="/users/friendlist">Following (<%=@friend.friends.count%>)</a><i class="fa fa-dashboard fa-1x"></i></li>
        <% @friend.friends.each do |i| %>
        <li class="list-group-item text-right"><span class="pull-left"></span><a href="/users/<%=i.id%>"><%=i.username%></a></li>
        <% end %>
    </ul>
        
    </div><!--/col-3-->
    <div class="col-sm-9">
        <h1 style="display: inline-block;" class="text-dark"><%=@friend.username%></h1>
        <form style="display: inline-block; margin-left: 30px;" method="POST" action="/users/follow">
            <button class="btn btn-lg btn-primary" name="id" value=<%=@friend.id%>><%=@button%> <%=@friend.username%></button>
        </form>
            <hr>
        
                    <div class="form-group">
                        <div class="col-xs-6">
                            <h4 class="text-dark" class="text-dark">First name: <%=@friend.first_name%></h4>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <h4 class="text-dark">Last name: <%=@friend.last_name%></h4>
                        </div>
                    </div>
        
                    <div class="form-group">
                        <div class="col-xs-6">
                            <h4 class="text-dark">Phone: <%=@friend.phone_number%></h4>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <h4 class="text-dark">Location: <%=@friend.location%></h4>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <h4 class="text-dark">Username: <%=@friend.username%></h4>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <h4 class="text-dark">Restaurants: </h4>
                        </div>
                    </div>

            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <%@friend.restaurants.each do |i| %>
                <thead>
                    <tr>
                        <th><%= i.name %></th>
                        <th><%= i.city %></th>
                        <th><%= i.name %></th>
                        <th><%= i.user_rating %></th>
                        <th><%= i.user_votes %></th>
                    </tr>
                </thead>
                <%end%>
            </table>

    </div><!--/col-9-->
</div><!--/row-->